<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <title>{{title}} | {{description}}</title>
</head>
<body>
    <nav class="navbar navbar-light">
      <div>
        <h1 class="display-5"><a href="/">{{title}}</a></h1>
        <p class="lead">{{description}}</p>
        <div id="preloader">
            <div id="loader"></div>
        </div>
      </div>
    </nav>
    <section class="row data-container">
      <section id="data" class="container col-md-9">

          <table class="table table-striped sortable">
              <thead class="thead-navy">
                <tr>
                  <th scope="col">Ticket</th>
                  <th scope="col">Title</th>
                  <th scope="col">Project</th>
                  <th scope="col">Year</th>
                  <th scope="col">Severity</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
      </section>
      <section id="data-filter" class="col-md-3">

      </section>
    </section>
    <footer class="footer">
      <hr class="featurette-divider">
        <div class="row">
          <div class="col-md-5">
            <a href="https://wikimediafoundation.org/wiki/Privacy_policy">Privacy Policy</a>
            |
            <a href="https://wikitech.wikimedia.org/wiki/Wikitech:Labs_Terms_of_use">Terms of Use</a>
            |
            <a href="https://phabricator.wikimedia.org/maniphest/task/create/?projects=security-team">Report a bug!</a>
          </div>
          <div class="col-md-5">
            <div>Written by
              <a href="https://meta.wikimedia.org/wiki/User:Samuel_(WMF)">Samuel (WMF)</a> | <a href="http://github.com/samuelguebo/vm-dashboard">Source code
              </a>
            </div>
          </div>
        </div>
    </footer>
  </body>
  <script src="/static/js/table-filter.js"></script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/sortable.js"></script>
</html>